# Pandas

파이썬에서 사용하는 데이터 분석 라이브러리

In [3]:
import pandas as pd

---
# 1.Series
1차원 데이터 (정수, 실수, 문자열 등)

## Series 객체 생성

In [9]:
temp = pd.Series([-20,-10,10,20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [11]:
temp[0] # 1월 온도

-20

## Series 객체 생성 (Index 지정)

In [19]:
temp = pd.Series([-20,-10,10,20], index = ['jan', 'feb', 'mar', 'apr'])
temp

jan   -20
feb   -10
mar    10
apr    20
dtype: int64

In [27]:
temp['jan'] #인덱스를 0대신 지정한 값으로 접근 가능

-20